{% extends "layout.html.twig" %}

{% block content %}

    <div class="breadcrumbs">
        <a href="/">Hjemmeside</a> &raquo;

    </div>

    <h1>Bekreftelse på Bestilling</h1>

   <p>Vi har mottatt din bestilling. Takk for at du handler hos oss</p>

{% endblock %}