<!DOCTYPE html>

<html>
    <head>
        <title>Sykkel AS Nettbutikk</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1">
        {{ encore_entry_link_tags('app') }}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            Sykkel AS Nettbutikk
            {% if app.session.get('basket') %}
                <a href="/basket">Vis Kurv</a>
            {% endif %}
            <hr>
        </header>
        <main>
            {% block content %} {% endblock %}
        </main>
        <footer>
            <hr>
            <h2>© Maria Eilertsen 2022</h2>
            <h4>Tisip Fagskole - Avsluttende Prosjekt</h4>
        </footer>
    </body>
</html>
