{% extends "layout.html.twig" %}

{% block content %}

    <h1>Side ikke funnet</h1>

    <p>Beklager, siden du leter etter eksisterer ikke. <a href="/">Gå tilbake til hjemmesiden</a></p>
{% endblock %}